.navUL {
  display: flex;
  list-style: none;
}
.navUL a {
  margin-left: 20px;
  text-decoration: none;
  color: #00acc1;
  transition: 0.3s;
}

.btn-t {
  padding: 6px 10px;
  border: 2px solid #00acc1;
  border-radius: 50px;
  transition: 0.4s;
}
.btn-t:hover {
  background-color: #00acc1;
  color: #fff;
}

.logo {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
}

@media (min-width: 1050px) {
  .logo {
    visibility: initial;
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
  }
}
.main-top-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  display: none;
  font-size: 28px;
  color: #00acc1;
  cursor: pointer;
}
.navULactive {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navULactive a {
  text-decoration: none;
  color: #00acc1;
  transition: 0.4s;
  margin-left: 12.5px;
}

@media (max-width: 910px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 17px;
  }
  .logo {
    position: absolute;
    left: 25px;
    top: 25px;
  }
  .navULactive {
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin-top: 52px;
    padding-left: 0;
    background-color: #2d5257;
    justify-content: center;
    border-radius: 25px;
  }

  .navULactive li {
    margin-bottom: 19px;
  }
  .navULactive a {
    margin-left: 0px;
    text-decoration: none;
    color: #dff4f7;
    font-size: 16px;
  }
  .hamburger {
    position: absolute;
    right: 25px;
    top: 25px;
    display: block;
  }
  .navUL {
    display: none;
  }
  .main-top-cont {
    justify-content: center;
    width: 100%;
    margin-left: 0;
  }
}

.main-top {
  margin: 35px;
}
.main-top-cont {
  max-width: 1300px;
  margin: auto;
}
