.cover-page {
  height: 100vh;
  /* background: pink; */
}

.navLink {
  margin: 5px;
  font-size: inherit;
  color: black;
}

.subComponent {
  text-align: center;
  padding: 50px 0px;
}

.subComponent-lg {
  padding: 80px 0px;
}

#hero {
  background: url("./img/bg.webp") center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#hero h1 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 60px;
}

.wrapped-page {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.item-center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: 10px 0px;
}

.tour-cover {
  width: 90%;
  padding: 20px 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
}

.tour-cover img {
  width: 100%;
}

.msg .btn {
  margin: 5px;
}

#aboutBody {
  background: #f1f1f1;
  color: #2b2b2b;
}

.oui {
  display: inline-block;
}

.svg-group p {
  margin: 15px 0px;
}

.svg-card {
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  color: #2b2b2b;
  padding: 30px;
  margin: 20px;
  width: 200px;
  height: 200px;
}

.svg-card:hover {
  border-radius: 50%;
}

.wrapped-services {
  background: url("./img/bg2.webp") center center;
  background-size: cover;
  background-attachment: fixed;
}

#servicesBody {
  background: rgba(0, 0, 0, 0.7);
}

#contactBody {
  background: #6d613c;
  color: rgba(0, 0, 0, 0.7);
}

.svg-card-2 {
  color: #ffffff;
  padding: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.svg-card-2:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
  background: rgba(255, 255, 255, 0.3);
}

.svg-card-3 {
  padding: 30px;
  margin: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.headerTitle p {
  color: rgba(0, 0, 0, 0.5);
}